<!DOCTYPE html>
<html>
  <head>
    <title>Admin: Them san pham moi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="/favicon.ico">
    <!-- CORE PURE -->
    <link rel="stylesheet" type="text/css" href="/pure/base-min.css">
    <link rel="stylesheet" type="text/css" href="/pure/buttons-min.css">
    <link rel="stylesheet" type="text/css" href="/pure/forms-nr-min.css">
    <link rel="stylesheet" type="text/css" href="/pure/grids-min.css">
    <link rel="stylesheet" type="text/css" href="/pure/grids-units-min.css">
    <link rel="stylesheet" type="text/css" href="/pure/tables-min.css">
    <link rel="stylesheet" type="text/css" href="/font-awesome/css/font-awesome.min.css">
    <!-- END CORE PURE -->
    <!--- SLIDEBARS -->
    <link rel="stylesheet" type="text/css" href="/Slidebars/dist/slidebars.min.css">
    <!-- END SLIDEBARS -->
    <!-- SMART MENUS -->
    <link rel="stylesheet" type="text/css" href="/smartmenus/dist/css/sm-core-css.css">
    <link rel="stylesheet" type="text/css" href="/smartmenus/dist/css/sm-simple/sm-simple.css">
    <!-- END SMART MENUS -->
    <!-- BREADCRUMBS -->
    <link rel="stylesheet" type="text/css" href="/breadcrumbs/breadcrumb.css">
    <!-- END BREADCRUMBS -->
    <!-- CHOSEN -->
    <link rel="stylesheet" type="text/css" href="/chosen/chosen.min.css">
    <!-- END CHOSEN -->
    <link rel="stylesheet" type="text/css" href="/custom.css">
  </head>
  <body>
    <div id="app"></div>
    <script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
    <!-- SLIDEBARS -->
    <script type="text/javascript" src="/Slidebars/dist/slidebars.min.js"></script>
    <!-- END SLIDEBARS -->
    <!-- SMART MENUS -->
    <script type="text/javascript" src="/smartmenus/dist/jquery.smartmenus.min.js"></script>
    <!-- END SMART MENUS -->
    <!-- CHOSEN -->
    <script type="text/javascript" src="/chosen/chosen.jquery.min.js"></script>
    <!-- END CHOSEN -->
    <script type="text/javascript" src="/public/admin_product_add.js"></script>
  </body>
</html>